.profile-photo-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.profile-photo-placeholder {
	width: 100px;
	height: 100px;

	display: flex;

	margin: auto;

	border-radius: 50%;

	background-image: url("https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133352010-stock-illustration-default-placeholder-man-and-woman.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.profile-photo-img {
	width: 100px;
	height: 100px;

	display: flex;

	margin: auto;

	border-radius: 50%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.profile-photo-name {
	font-weight: bold;
	font-size: 1.6rem;
}

.profile-photo-change {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.input-area {
	display: flex;
	flex-direction: column;
}

.input-area label,
.input-area input {
	font-size: 1.8rem;
}
.profile-photo-change input {
	padding-inline: 1rem;
	padding-block: 0.5rem;

	border: none;
	border-radius: 0.5rem;

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
