.default-cards-wrapper {
	width: 100%;
	min-height: 50rem;
	margin-block: 3rem;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(27.7rem, 1fr));
	justify-items: center;
	align-items: start;
	gap: 3rem;
}

@media screen and (min-width: 1024px) {
	.highlight {
		width: 100%;
		max-width: 192rem;

		padding-inline: 10rem;
		margin: auto;

		display: flex;
		justify-content: center;
		gap: 8rem;
	}

	.cards-aside {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	hr {
		display: block;
		margin-block: 10rem;
	}

	.cards-default {
		max-width: 192rem;

		margin: auto;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: repeat(auto-fill, fit-content);
		justify-items: center;
		gap: 1rem;
	}
}
