<app-header></app-header>
<form (ngSubmit)="login()" class="login-form">
	<div class="labels">
		<label for="username">Username</label>
		<input
			type="text"
			name="username"
			id="loginName"
			autocomplete=""
			[(ngModel)]="username"
		/>
	</div>
	<div class="labels">
		<label for="password">Senha</label>
		<input
			type="password"
			name="password"
			id="loginPassword"
			[(ngModel)]="password"
			autocomplete=""
		/>
	</div>
	<div class="labels">
		<button type="submit">Login</button>
	</div>
</form>
<app-footer></app-footer>
