.change-password-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.change-password-wrapper .input-area {
	display: flex;
	flex-direction: column;
}

.change-password-wrapper .input-area label,
.change-password-wrapper .input-area input {
	font-size: 1.8rem;
}
.change-password-wrapper .input-area input {
	padding-inline: 1rem;
	padding-block: 0.5rem;

	border: none;
	border-radius: 0.5rem;

	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
