<div class="change-password-wrapper">
	<div class="input-area">
		<label for="newPassword">Nova senha</label>
		<input
			type="password"
			name="newPassword"
			id="newPassword"
			[(ngModel)]="newPassword"
		/>
	</div>
	<div class="input-area">
		<label for="confirmPassword">Confirmar senha</label>
		<input
			type="password"
			name="confirmPassword"
			id="confirmPassword"
			[(ngModel)]="confirmPassword"
		/>
	</div>

	<app-default-button
		[content]="'Mudar Senha'"
		(click)="changePassword()"
	></app-default-button>
</div>
